{% extends 'todo/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    {% if user.is_authenticated %}

        <h2>You notes</h2>

        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">time of creation</th>
                <th scope="col">Text</th>
                <th scope="col">Share</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            {#<a href="{% url 'student_detail' %}" class="stretched-link">1</#}
            {#<a href="{% url 'zoo:animal_detail' animal.pk %}">#}
            <tbody>

            {% for note in notes %}
{#                <tr id="clickable-row">#}
{#                    <td scope="row">{{ note.post_time }}</td>#}

                <tr>
                    <td scope="row">{{ note.post_time|date:"H:i:s - d.m.Y" }}</td>
                    <td>{{ note.text }}</td>
                    <td>S</td>
                    <td>D</td>
                </tr>

            {% empty %}
                <tr>
                    <td>no one note</td>
                </tr>
            {% endfor %}

        </table>

    {% else %}

        <p class="text-center my-auto">
            <a href="{% url 'todo:create' %}">register</a>
            or
            <a href="{% url 'todo:login' %}">login</a>
            to see the contents
        </p>

    {% endif %}

    <form href="{% url 'todo:create_note' %}" method="post" class="form mx-auto">
        <div class="text-right">
            <button type="submit" class="btn btn-primary">New</button>
        </div>
        {% csrf_token %}
{#        <textarea type="text">{% lorem 20 w random %}</textarea>#}
        {{ create_note_form|crispy }}
    </form>

{% endblock content %}